/*----------------------- GOOGLE FONTS -----------------------*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*----------------------- Variables -----------------------*/ 
:root {
    --header-height: 3rem;

    /*----------------------- COLORS -----------------------*/
    --hue-color: 250;
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-second-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-laghter: hsl(var(--hue-color), 92%, 85%);
    --first-color-more-laghter: hsl(var(--hue-color), 92%, 95%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: white;

    /*----------------------- Font and Typography -----------------------*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*----------------------- Font weight -----------------------*/ 
    --font-medium: 500;
    --font-semi-bold: 600;

    /*----------------------- Margenes Bottom -----------------------*/
    --mb-0-25: .25rem;
    --mb-0-50: .50rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*----------------------- Z index -----------------------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*----------------------- BASE -----------------------*/
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    margin: 0 5rem;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

a {
    color: var(--first-color);
    text-decoration: none;
    transition: 0.3s;
}

.logo,
.mobile-menu,
.nav-list li:hover {
    color: var(--first-color-alt);
    opacity: 0.7;
}

.logo {
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--first-color);
    margin: 8px;
    transition: 0.3s;
}

/*----------------------- REUSABLE CSS CLASSES -----------------------*/
.section {
    padding: 0 0 4rem;
}

.section_title {
    font-size: var(--h1-font-size);
}

.section_subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
    text-align: center;
}

/* ------------------- HEADER -------------------------- */
header {
    /*position: fixed;*/
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}



/*----------------------- LAYOUT -----------------------*/ 
.container {
    max-width: 100%;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 0.5rem;
    justify-items: center;
}

/* ------------------------------- BUTTONS ------------------ */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.buttonCV {
    margin-top: 10px;
}

/*----------------------- HOME -----------------------*/
.emphasis {
    color: var(--first-color);
}

.home__blob {
    width: 300px;
    fill: var(--first-color);
    position: static;
    z-index: var(--z-tooltip);
    flex: 0 0 50%;
}

.home__blob-img {
    width: 170px;
    position: static;
    z-index: var(--z-tooltip);
}

.home__data {
    /*grid-column: 1/3;*/
    text-align: center;
}

.home__myname {
    font-size: var(--big-font-size);
}

.home__content {
    align-items: center;

}

.home__description {
    max-width: 40rem;
}

.home__social-icon {
    font-size: 1.75rem;
    color: var(--first-color);
}

/* ------------------------------- ABOUT SECTION ------------------ */
.section_about-title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 84px;
    width: 50px;
    height: 1px;
    background: #333;
    
}
.section_about-title span {
    padding-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    letter-spacing: 1px;
    padding-top: 80px;
}

.about__data {
    max-width: 40rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    padding: 50px;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin: auto;
}

.about__data h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
}

/* ------------------------------- PROJECTS SECTION ------------------ */
.section_projects-title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 124px;
    width: 50px;
    height: 1px;
    background: #333;
}

.section_projects-title span {
    padding-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    letter-spacing: 1px;
    padding-top: 120px;
}

/* ---------- CARDS ----------- */
.container-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 400px;
    padding: 30px;
}

.container-card .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: var(--first-color);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: .3s ease-in-out;

}

.container-card .card:hover {
    height: 420px;
}

.container-card .card .imgbox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);*/
}

.container-card .card .imgbox img {
    max-width: 100%;
    border-radius: 4px;
}

.container-card .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-card .card .content .card-title {
    color: var(--first-color-laghter);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.336);
}

.container-card .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

/* ------------------------------- SKILLS SECTION ------------------ */
.section_skill-title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 124px;
    width: 50px;
    height: 1px;
    background: #333;
}

.section_skill-title span {
    padding-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    letter-spacing: 1px;
    padding-top: 120px;
}

.skill__container {
    text-align: center;
    max-width: 40rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    padding: 50px;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin: auto;
}

.skill__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(80px, 1fr))[auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    list-style: none;
}

.skill__grid li {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 80px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
    border: 1px solid #eee;
}

.skill-icon {
    font-size: 1.75rem;
    color: var(--first-color);
}

/* ------------------------------- CONTACT SECTION ------------------ */
.section_contact-title span::before {
    content: "";
    position: absolute;
    left: 0;
    top: 124px;
    width: 50px;
    height: 1px;
    background: #333;
}

.section_contact-title span {
    padding-bottom: 20px;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    position: relative;
    padding-left: 80px;
    letter-spacing: 1px;
    padding-top: 120px;
}

.contact__content {
    max-width: 40rem;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    padding: 50px;
    border-radius: 10px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin: auto;
}

.contact__content h1 {
    color: var(--first-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
}

/*----------------------- FOOTER -----------------------*/
footer {
    background: var(--first-color-laghter);
    color: white;
    margin: 2rem 0 0 -6rem;
    padding: 5px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.199);
    width: 100vw;
}

.Contact__social-icon {
    font-size: 2.25rem;
    color: var(--first-color);
}

/*----------------------- MOBILE -----------------------*/
@media (max-width: 999px) {

    /* ========== Nav Bar ============= */
    body {
        overflow-x: hidden; /* Se algo transbordar, fica escondido */
        margin: 0 0.5rem;
    
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0px;
        width: 50vw;
        height: 92vh;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.3s ease-in;
        /*---*/
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 0 0 1.5rem;
        transform: translateX(100%); /* Faz transbordar */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0)
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        } to {
            opacity: 1;
        }
    }

    /* ===== Home ===== */

    .home__blob {
        width: 230px;
        
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    /* ========= About ========== */
    .about__data {
        box-shadow: none;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        padding: 0;
        margin: 0;
    }

    /* ======== PROJECTS ======== */
    .container-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 240px;
        padding: 0px;
        margin-top: 20px;
    }
    
    .container-card .card {
        position: relative;
        max-width: 300px;
        width: 200px;
        height: 160px;
        background: var(--first-color);
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        transition: .3s ease-in-out;
    
    }
    
    .container-card .card:hover {
        height: 280px;
    }
    
    .container-card .card .imgbox {
        position: relative;
        width: 200px;
        height: 158px;
        top: -60px;
        left: 0px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }
    
    .container-card .card .imgbox img {
        max-width: 100%;
        width: 200px;
        border-radius: 4px;
    }
    
    .container-card .card .content {
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color:white;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        font-size: var(--small-font-size);
    }
    
    .container-card .card .content .card-title {
        color: var(--first-color-laghter);
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.336);
    }
    
    .container-card .card:hover .content {
        visibility: visible;
        opacity: 1;
        margin-top: -40px;
        transition-delay: 0.3s;
    }

    /* ===== CONTACT ===== */
    .Contact__social {
        box-shadow: none;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        padding: 0;
        margin: 0;
    }

    .contact__content {
        box-shadow: none;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        margin: 0;
        padding: 0;
    }
    
    .contact__content h1 {
        color: var(--first-color);
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
    }
}

/* ========== Animation Lines to X ============= */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* ADICIONAR RESPONSIVIDADE AO ABOUT */